[core]
	excludesfile = /Users/kurarrr/.gitignore_global
[user]
	name = kurarrr
	email = y.kurarrr@gmail.com
[alias]
	c = checkout
	b = branch
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
