format = """
$directory\
$git_branch\
$git_status\
$kubernetes\
$python\
$nodejs\
$golang\
$java\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 5
truncate_to_repo = false

[git_branch]
format = "[$symbol$branch]($style) "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[kubernetes]
disabled = false
format = '[$symbol$context( \($namespace\))]($style) '

[cmd_duration]
min_time = 3000

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
